<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
  <h3>Hello Huy</h3>
  <img src="/images/tour.jpg" alt="thien nhien" class="anh">
</body>

</html>